<navbar></navbar>
<br />
<br />
<div class="container-fluid">
  <div class="row">
	<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">	
		<ul class="nav nav-pills flex-column mt-3">
		    <li class="nav-item">
		      <button class="btn btn-link" ng-click="openNewExpenseForm()">Create Expense</button>
		    </li>
		</ul>
		<form id="newExpenseForm" class="form-signin mt-5" ng-submit="submitExpenseForm()" ng-show="showNewExpenseForm">
	  		<h3 ng-show="!editing">New Expense</h3>
	  		<h3 ng-show="editing">Edit Expense</h3>
			<label for="inputName" class="sr-only">Name</label>
			<input ng-model="newExpenseName" type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
			<label for="inputAmount" class="sr-only">Amount</label>
			<input ng-model="newExpenseAmount" type="number" min="0" step="0.01" id="inputAmount" class="form-control" placeholder="Amount" required>
			<select class="form-control" ng-options=" category.title for category in categories" ng-model="newExpenseCategory" required></select>
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-show="!editing">Create</button>
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-show="editing">Save</button>
			<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="deleteExpense()" ng-show="editing">Delete</button>
			<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="closeNewExpenseForm()">Cancel</button>
		</form>
	</nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
		<h1>Existing Recurring Expenses</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="w-25">Name</th>
					<th class="w-25">Category</th>
					<th class="w-25">Amount</th>
					<th class="w-25"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="expense in expenses">
					<td>{{expense.name}}</td>
					<td>{{getCategoryName(expense.categoryId)}}</td>
					<td>${{expense.amount}}</td>
					<td><button class="btn btn-link" ng-click="openEditExpenseForm(expense)">Edit/Delete<span class="sr-only"></span></button></td>
				</tr>
			</tbody>
		</table>
    </main>
  </div>
</div>